= render :partial => "layouts/header"
= render :partial => "categories_menu"

%div.jumbotron.most-viewed
	%div.container.mini-boxes
		%h3.green
			%i.fa.fa-bookmark.fa-lg 
			Kategoria: Wszystkie
		- @startups.each_slice(3) do |slice|
			%div.row
				- slice.each do |startup|
					%a{ :href => startup_path(startup) }
						%div.col-md-4.mini-box
							%h3= startup.name
							%p=  startup.short_description
							= image_tag("#{startup.website_thumbnail(:thumb)}", class: "img-rounded")
							%a{ :href => startup_path(startup) }
								%button.btn.btn-info.btn-self.center-block
									Zobacz
%div.jumbotron
	%div.container
		%div.center-block			
			= will_paginate @startups, renderer: BootstrapPagination::Rails